@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
<<<<<<< HEAD
  padding-top: 115px;
=======
  padding-top: 4.5rem;
  margin-bottom: 60px;
>>>>>>> dbda6bbfc892fc076c694d89d0cba62d3aea23b7
  font-size: 1em;
  font-family: Comic Sans MS, sans-sefif;
  line-height: 135%;
}

<<<<<<< HEAD
li a:hover {
  color: #ffe;
  background-color: #476e8d;
  border-radius: 4px;
 }


.navbar{
=======
.navbar, .sidebar, footer{
>>>>>>> dbda6bbfc892fc076c694d89d0cba62d3aea23b7
  background-color: rgb(223, 237, 248);
}

.navbar-brand {
  font-size: 30px;
}


.navbar-container {
  padding: 20px 0 20px 0;
}

.navbar.fixed-top.fixed-theme {
  opacity: 0.9;
  background-color: rgb(183, 196, 206);
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
  font-size: 18px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

header {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
}

#content{
  margin-top:20px;
  margin-bottom:80px;
}

.sidebar, footer{
  background-color: rgb(223, 237, 248);
}


.sidebar {
  border-radius: 15px; 
  border: 10px solid rgb(255, 255, 255);
  height: 100hv;
  margin-bottom:60px;
  position: fixed;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; ;
  z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}